<div class="fixed top-0 left-0 right-0 z-50 hidden w-full overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full justify-center items-center micromodal-slide"
    id="loyaltyConditionsModal" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1">
        <div class="relative w-full h-full max-w-4xl p-4 md:h-auto">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <header
                    class="modal__header flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                    <h3 id="loyaltyConditionsModal-title" class="text-xl font-semibold text-gray-900 dark:text-white"
                        id="modalTitle">
                        Edit Condition
                    </h3>
                    <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        aria-label="Close modal" data-micromodal-close>
                        <svg class="w-5 h-5 pointer-events-none" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </header>
                <main class="modal__content" id="loyaltyConditionsModal-content">
                    <div class="px-6 space-y-6">
                        <input type="hidden" name="_idSaveData" id="_idSaveData">
                        <div class="mt-4">
                            <div class="w-full flex flex-col mb-2" id="errorsSectionSaveData">

                            </div>
                            <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0">
                                <div class="flex w-full px-2 md:w-1/2">
                                    <span
                                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                                        </svg>
                                    </span>
                                    <input type="number" name="" id="condition1" min="0" max="100"
                                        class="rounded-none rounded-r-lg border border-gray-300 text-gray-900 focus:outline-none focus:ring-orange-500 focus:border-orange-500 block flex-1 min-w-0 w-full border-gray-300 p-2.5"
                                        placeholder="Condition 1" />
                                </div>
                                <div class="flex w-full px-2 md:w-1/2">
                                    <span
                                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                                        </svg>
                                    </span>
                                    <input type="number" name="" id="condition2" min="0" max="100"
                                        class="rounded-none rounded-r-lg border border-gray-300 text-gray-900 focus:outline-none focus:ring-orange-500 focus:border-orange-500 block flex-1 min-w-0 w-full border-gray-300 p-2.5"
                                        placeholder="Condition 2" />
                                </div>
                            </div>

                            <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0 mt-4">
                                <div class="flex w-full px-2 md:w-1/2">
                                    <span
                                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                                        </svg>
                                    </span>
                                    <input type="number" name="" id="condition3" min="0" max="100"
                                        class="rounded-none rounded-r-lg border border-gray-300 text-gray-900 focus:outline-none focus:ring-orange-500 focus:border-orange-500 block flex-1 min-w-0 w-full border-gray-300 p-2.5"
                                        placeholder="Condition 3" />
                                </div>
                                <div class="flex w-full px-2 md:w-1/2">
                                    <span
                                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                                        </svg>
                                    </span>
                                    <input type="number" name="" id="condition4" min="0" max="100"
                                        class="rounded-none rounded-r-lg border border-gray-300 text-gray-900 focus:outline-none focus:ring-orange-500 focus:border-orange-500 block flex-1 min-w-0 w-full border-gray-300 p-2.5"
                                        placeholder="Condition 4" />
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer
                    class="flex justify-end items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button type="button" id="saveData"
                        class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded text-sm px-5 py-2.5 text-center dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">Save</button>
                    <button type="button" data-micromodal-close aria-label="Close this dialog window"
                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-orange-300 rounded border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
                </footer>
            </div>
        </div>
    </div>
</div>