<%- include('./formModal.ejs') %>
    <%- include('../partials/toastinfo.ejs') %>

        <div class="container mx-auto h-screen max-h-screen flex items-center">
            <div class="relative overflow-x-auto mx-auto w-3/4 sm:rounded-lg shadow-lg ">
                <table class="w-full text-left text-gray-500 dark:text-gray-400 shadow-md" id="loyaltyConditionsTable">

                </table>
            </div>
        </div>

        <script src="javascripts/CRUD/loyaltyConditionsCRUD.js"></script>