<div class="relative h-screen w-full flex items-center justify-center text-center bg-cover bg-center"
  style="background-image: url(/images/hero_section.jpg)">
  <div class="absolute top-0 right-0 bottom-0 left-0 bg-gray-900 opacity-75"></div>

  <main class="px-4 sm:px-6 lg:px-8 z-10">
    <div class="text-center">
      <h2 class="text-4xl tracking-tight leading-10 font-medium sm:text-5xl text-white sm:leading-none md:text-6xl">
        Simply the best <span class="text-orange-600 font-bold">Modern Library</span>
      </h2>
      <p class="text-xl mt-3 text-white sm:mt-5 sm:text-2xl sm:max-w-2xl sm:mx-auto md:mt-5">
        The easiest way to buy and sell books! With our loyalty system you can get free shipping or
        discounts in your next purchase.
      </p>
      <div class="mt-5 sm:mt-8 sm:flex justify-center">
        <div class="rounded-md shadow">
        </div>
      </div>
    </div>
  </main>
</div>

<section class="bg-white">
  <div class="max-w-5xl px-6 py-16 mx-auto">
    <div class="items-center md:flex md:space-x-6">
      <div class="md:w-1/2">
        <h3 class="text-2xl font-semibold text-gray-800">Our objective</h3>
        <p class="max-w-xl mt-4 text-gray-600">
          Modern Library main objective is to sell books to their customers for cheaper prices and
          benefit customers that are loyal to us with our loyalty system.
        </p>
        <p class="max-w-xl mt-4 text-gray-600">
          Modern Library buys books from their customers in order to resell them to sell to other's,
          making less waste to the environment.
        </p>
      </div>

      <div class="mt-8 md:mt-0 md:w-1/2">
        <div class="flex items-center justify-end">
          <div class="max-w-md">
            <img class="object-cover object-center w-full rounded-md shadow" style="height: 500px"
              src="/images/objective_section.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="max-w-5xl px-6 py-16 mx-auto">
    <div class="px-8 py-12 bg-gray-800 rounded-md md:px-20 md:flex md:items-center md:justify-between">
      <div>
        <h3 class="text-2xl font-semibold text-white">Have books that you don't need?</h3>
        <p class="font-bold max-w-md mt-4 text-gray-400">
          Sell your books instead of throwing them away!
        </p>
        <p class="max-w-lg mt-4 text-gray-400">Contact us so we can negotiate.</p>
      </div>

      <a class="block px-8 py-2 mt-6 text-lg font-medium text-center text-white transition-colors duration-300 transform bg-orange-600 rounded md:mt-0 hover:bg-orange-700"
        href="#">Get In Touch</a>
    </div>
  </div>
</section>